kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: my-operator
  labels:
    app.kubernetes.io/name: my-operator
rules:
  - apiGroups: ["foo.bar"]
    resources: ["foos", "foos/status"]
    verbs: ["create", "update", "delete", "get", "watch", "list"]
