kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: my-operator
  labels:
    app.kubernetes.io/name: my-operator
roleRef:
  kind: Role
  name: my-operator
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: my-operator
